### macOS ###
.DS_Store

### Draw.io ###
*.bkp
*drawio.dtmp

### Visual Studio Code ###
.vscode/

### JetBrains IDEs ###
# DataGrip
sql/.idea/*
!sql/.idea/sqldialects.xml

# IntelliJ
.idea/
out/
target/

### Environment Variables ###
.env
