### macOS ###
.DS_Store

### Draw.io ###
*.bkp
*drawio.dtmp

### Visual Studio Code ###
.vscode/

### JetBrains IDEs ###
# IntelliJ
.idea/*
!.idea/sqldialects.xml
out/
target/

# DataGrip
sql/.idea/*
!sql/.idea/sqldialects.xml

### Environment Variables ###
.env
src/META-INF/
